<h1>ようこそ</h1>
<div id="cart"><%= @cart %>
</div>
<p></p>
<ul class="media-list">
<% @products.each do |product| %>
  <li class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="<%= product.image %>" alt="<%= product.name %>">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= product.name %></h4>
      <p><%= product.description %></p>
      <p><%= product.price %></p>
      <%= button_to('カートに追加', 'cart_items_path(product_id: product)', class: 'btn btn-primary') %>
    </div>
  </li>
<% end %>
</ul>